.noscroll {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    overflow: -moz-scrollbars-none;
}

.noscroll::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.carousel {
    background-color: #f7f7f7;
}

#scroll-container img:first-child {
    margin-left: 13vw;
  }