.thumbnail-strip {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.thumbnail-strip::-webkit-scrollbar {
  display: none;
}

.thumbnail-strip img {
  display: inline-block;
  height: 6rem;
  margin: 0 4px;
  cursor: pointer;
}

.thumbnail-strip img:first-child {
  margin-left: 13vw;
}
